In [1]:
import pandas as pd
import numpy as np

In [2]:
purchase=pd.read_csv("data.csv")

In [3]:
purchase.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [4]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    int64
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(5)
memory usage: 15.7 KB

In [5]:
purchase['Gender'].value_counts()

1    204
0    196
Name: Gender, dtype: int64

In [6]:
purchase=purchase.drop('User ID',axis=1)

In [7]:
purchase.head()

   Gender  Age  EstimatedSalary  Purchased
0       0   19            19000          0
1       0   35            20000          0
2       1   26            43000          0
3       1   27            57000          0
4       0   19            76000          0

In [8]:
from sklearn.model_selection import StratifiedShuffleSplit
split=StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_index,test_index in split.split(purchase,purchase['Gender']):
    strat_train_set=purchase.loc[train_index]
    strat_test_set=purchase.loc[test_index]

In [9]:
X_train=strat_train_set.drop('Purchased',axis=1)

Y_train=strat_train_set['Purchased'].copy()


X_test=strat_test_set.drop('Purchased',axis=1)

Y_test=strat_test_set['Purchased'].copy()

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
from sklearn import svm

model = svm.SVR()
model.fit(X_train,Y_train)

SVR()

In [12]:
predictions=model.predict(X_test)

In [13]:
predictions[1]

0.8733623944748545

In [14]:
Y_test.head()

51     0
323    1
100    0
114    0
372    0
Name: Purchased, dtype: int64

In [15]:
import pickle
pickle.dump(model, open('model.pkl','wb'))